<style>



</style>

@*<div style="background: #2D3D4D !important;color:#2D3D4D;height:3px!important">
</div>
*@
<div class="myFooter1">
    <br />
    <br />
    <div class="container" style="justify-content:space-between">
        <div class="row hideOnMobile" style="justify-content:space-between;align-items:center">
            <div class="col-3 adjustContentMobile">
                @*<img src="~/public/images/footerLogo.png"/>*@

                <svg xmlns="http://www.w3.org/2000/svg" width="206" height="140" viewBox="0 0 206 140" fill="none">
                    <path d="M147.596 51.7178C151.629 50.5214 153.888 49.4731 157.926 46.7654C162.861 42.1479 165.103 39.3729 169.239 37.0509L171.207 36.0987C174.391 34.978 176.137 35.262 179.241 36.0987C181.41 37.0889 182.57 37.7706 184.488 39.3368H194.654C201.851 43.1639 203.112 47.6687 204 56.8607C201.354 54.5686 199.762 53.8502 196.621 54.9559C188.292 59.1812 186.071 62.4496 182.192 68.8608C181.189 79.1214 181.256 84.7383 182.192 94.5751C182.08 97.9193 181.171 99.4415 178.749 101.813" stroke="#2D3D4D" stroke-width="2" />
                    <path d="M196.805 49.2325C199.192 50.3794 200.527 51.0974 202.872 52.8516L203.364 55.3278L201.56 54.1849C199.897 52.5115 198.787 51.9468 196.805 50.9468C194.372 50.0535 193.013 49.9836 190.575 50.5659C187.208 51.7958 185.402 52.7439 182.376 55.1373C181.928 55.3841 181.677 55.5197 181.229 55.1373C180.94 54.6981 180.855 54.4299 181.229 53.804C184.751 51.4155 186.816 50.3914 190.575 48.8516C193.01 48.504 194.373 48.449 196.805 49.2325Z" fill="#2D3D4D" stroke="#2D3D4D" stroke-width="0.5" />
                    <path d="M175 107.903L114.333 10.3785L114.331 10.4167C114.276 11.5172 114.245 12.1459 114.988 13.6166L168.769 111.522C169.841 114.706 169.918 116.607 168.769 120.284C167.287 123.387 165.984 124.864 163.358 127.331C165.893 126.999 167.305 126.727 169.753 125.617C172.388 123.509 173.763 122.252 175 119.141C176.343 115.577 176.465 113.368 175 107.903Z" fill="#2D3D4D" />
                    <path d="M163.358 109.426L110.889 9.99756C110.293 10.6331 110.271 11.164 110.561 12.2833L154.176 104.474C154.804 106.591 154.977 107.641 154.176 108.664C153.206 109.168 152.625 109.106 151.553 108.664L142.535 89.2358C140.341 84.5949 139.034 83.4959 136.632 82.9501H109.414C108.711 82.9291 108.325 82.8488 107.774 81.8072C107.494 80.5459 107.689 79.9072 108.594 78.9501C112.049 74.3128 113.779 71.4936 114.988 63.331C115.737 52.0986 116.25 45.5775 113.185 33.9976C110.166 23.5959 107.654 18.3809 101.051 9.99756C103.845 49.4127 97.5934 65.952 74.4889 86.9501C71.5641 88.255 69.9075 88.3805 66.9465 88.2834C66.4702 88.804 66.393 89.0962 66.9465 89.6168L133.844 89.2358C134.779 89.3551 135.861 89.7464 136.632 91.9025L144.338 107.903C145.584 110.126 145.617 110.951 144.338 111.522H105.478C105.195 111.376 105.066 111.27 104.987 110.95L104.659 102.76H97.6081V110.95C97.4766 112.68 96.9593 113.153 95.6405 113.426C94.0886 113.173 93.7619 112.463 93.6729 110.379V97.9977C93.2597 95.7608 92.8436 94.6963 90.3936 94.5692H69.57C66.7043 94.522 65.8386 96.5953 65.1429 102.76L64.651 109.236H74.9808C76.0366 110.2 75.7473 110.681 74.9808 111.522H57.2725C54.2842 109.768 53.4956 108.348 54.8131 104.474L94.4927 16.4738L93.8369 12.6642L45.9589 109.045C45.1036 111.591 45.0645 112.98 45.9589 115.331C47.4456 117.844 48.5143 118.825 51.2058 119.141H81.8674C83.9533 118.331 84.8167 117.42 85.1467 113.998V105.236C84.695 103.78 84.3081 103.101 82.8512 102.76H74.9808C74.3825 102.558 74.072 102.401 73.997 101.236C73.9333 99.9195 74.2178 99.5195 74.9808 99.3311H84.4908C87.4167 100.253 88.2279 101.537 88.9179 104.474V113.045C88.8456 115.554 88.3578 116.594 86.4584 117.807C85.4958 119.026 85.9529 119.237 87.7701 119.141H162.211C164.331 118.538 165.172 117.799 165.162 114.76C164.933 112.654 164.46 111.483 163.358 109.426Z" fill="#2D3D4D" />
                    <path d="M175 107.903L114.333 10.3785L114.331 10.4167C114.276 11.5172 114.245 12.1459 114.988 13.6166L168.769 111.522C169.841 114.706 169.918 116.607 168.769 120.284C167.287 123.387 165.984 124.864 163.358 127.331C165.893 126.999 167.305 126.727 169.753 125.617C172.388 123.509 173.763 122.252 175 119.141C176.343 115.577 176.465 113.368 175 107.903Z" stroke="#2D3D4D" stroke-width="0.3" />
                    <path d="M163.358 109.426L110.889 9.99756C110.293 10.6331 110.271 11.164 110.561 12.2833L154.176 104.474C154.804 106.591 154.977 107.641 154.176 108.664C153.206 109.168 152.625 109.106 151.553 108.664L142.535 89.2358C140.341 84.5949 139.034 83.4959 136.632 82.9501H109.414C108.711 82.9291 108.325 82.8488 107.774 81.8072C107.494 80.5459 107.689 79.9072 108.594 78.9501C112.049 74.3128 113.779 71.4936 114.988 63.331C115.737 52.0986 116.25 45.5775 113.185 33.9976C110.166 23.5959 107.654 18.3809 101.051 9.99756C103.845 49.4127 97.5934 65.952 74.4889 86.9501C71.5641 88.255 69.9075 88.3805 66.9465 88.2834C66.4702 88.804 66.393 89.0962 66.9465 89.6168L133.844 89.2358C134.779 89.3551 135.861 89.7464 136.632 91.9025L144.338 107.903C145.584 110.126 145.617 110.951 144.338 111.522H105.478C105.195 111.376 105.066 111.27 104.987 110.95L104.659 102.76H97.6081V110.95C97.4766 112.68 96.9593 113.153 95.6405 113.426C94.0886 113.173 93.7619 112.463 93.6729 110.379V97.9977C93.2597 95.7608 92.8436 94.6963 90.3936 94.5692H69.57C66.7043 94.522 65.8386 96.5953 65.1429 102.76L64.651 109.236H74.9808C76.0366 110.2 75.7473 110.681 74.9808 111.522H57.2725C54.2842 109.768 53.4956 108.348 54.8131 104.474L94.4927 16.4738L93.8369 12.6642L45.9589 109.045C45.1036 111.591 45.0645 112.98 45.9589 115.331C47.4456 117.844 48.5143 118.825 51.2058 119.141H81.8674C83.9533 118.331 84.8167 117.42 85.1467 113.998V105.236C84.695 103.78 84.3081 103.101 82.8512 102.76H74.9808C74.3825 102.558 74.072 102.401 73.997 101.236C73.9333 99.9195 74.2178 99.5195 74.9808 99.3311H84.4908C87.4167 100.253 88.2279 101.537 88.9179 104.474V113.045C88.8456 115.554 88.3578 116.594 86.4584 117.807C85.4958 119.026 85.9529 119.237 87.7701 119.141H162.211C164.331 118.538 165.172 117.799 165.162 114.76C164.933 112.654 164.46 111.483 163.358 109.426Z" stroke="#2D3D4D" stroke-width="0.3" />
                    <ellipse cx="97.6632" cy="96.2885" rx="3.11534" ry="3.61904" fill="#2D3D4D" />
                    <ellipse cx="64.5089" cy="126.769" rx="3.11534" ry="3.61904" fill="#2D3D4D" />
                    <ellipse cx="72.0538" cy="126.769" rx="3.11534" ry="3.61904" fill="#2D3D4D" />
                    <ellipse cx="85.2013" cy="126.769" rx="3.11534" ry="3.61904" fill="#2D3D4D" />
                    <ellipse cx="105.209" cy="96.2885" rx="3.11534" ry="3.61904" fill="#2D3D4D" />
                    <path d="M40.9878 119.987C39.5635 115.488 40.8273 107.026 42.0447 102.794C44.5046 97.9351 89.3817 12.5975 92.3318 8.46598C95.611 5.12513 97.7028 3.74618 102.069 2.39407C104.783 1.82003 106.343 1.91961 109.151 2.39407C113.268 3.73698 115.317 5.18301 118.712 8.46598C122.566 12.6143 124.202 15.2183 126.856 20.0026L179.44 103.997C181.722 109.518 182.5 112.947 181.741 119.987C180.811 125.254 179.531 127.527 176.961 131.321C173.154 135.221 170.69 136.72 165.63 138H61.3483C55.1522 137.239 51.833 136.187 46.6533 131.321C43.0809 127.125 42.0133 124.614 40.9878 119.987Z" stroke="#2D3D4D" stroke-width="3" />
                    <path d="M2 21.4321H84.9665L82.1513 26.7654H4.98083L2 21.4321Z" stroke="#2D3D4D" stroke-width="2" />
                    <path d="M8.57422 32.4722H79.0792L76.6868 37.8055H11.1073L8.57422 32.4722Z" stroke="#2D3D4D" stroke-width="2" />
                    <path d="M16.4629 44.2925H72.7031L70.0027 49.6258H18.454L16.4629 44.2925Z" stroke="#2D3D4D" stroke-width="2" />
                    <path d="M23.3223 55.3325H67.265L64.3136 60.6658H24.878L23.3223 55.3325Z" stroke="#2D3D4D" stroke-width="2" />
                    <path d="M14.46 79.7202H54.4676L51.5162 85.0535H15.8764L14.46 79.7202Z" stroke="#2D3D4D" stroke-width="2" />
                    <path d="M30.8672 66.3813H61.3648L58.4134 71.7147H31.9469L30.8672 66.3813Z" stroke="#2D3D4D" stroke-width="2" />
                    <path d="M20.0068 91.1416H48.2089L45.4796 96.4749H21.0053L20.0068 91.1416Z" stroke="#2D3D4D" stroke-width="2" />
                    <path d="M26.9189 101.815H42.3317L40.8402 107.148H27.4646L26.9189 101.815Z" stroke="#2D3D4D" stroke-width="2" />
                    <path d="M127.475 20.2866H148.462C150.945 20.5036 151.937 21.26 152.889 23.9057C153.36 26.3335 153.236 27.5444 152.233 29.4295L142.232 43.7148" stroke="#2D3D4D" stroke-width="2" />
                    <path d="M131.531 27.5249H142.252C143.521 27.6308 144.027 27.9997 144.514 29.2903C144.754 30.4746 144.691 31.0653 144.179 31.9849L139.069 38.9535" stroke="#2D3D4D" stroke-width="2" />
                    <path d="M180.685 43.0715L182.652 44.2144L183.308 43.6429C183.744 43.3598 184.026 43.322 184.62 43.6429C185.182 44.2487 185.169 44.6927 184.948 45.5477L181.505 51.0715C181.055 51.5923 180.78 51.7206 180.193 51.4525C179.757 50.9268 179.69 50.5998 180.029 49.9287L181.997 46.8811C182.04 45.9387 181.837 45.7487 181.013 46.1191C180.236 47.6977 179.696 48.5513 178.225 49.9287C177.445 50.0769 176.781 50.0695 175.274 49.9287C174.928 49.0869 174.553 48.7209 173.306 48.4049H170.683C170.19 47.9041 169.983 47.6103 170.683 46.8811C172.903 45.1681 174.156 44.2153 177.078 43.0715C178.484 42.6551 179.274 42.671 180.685 43.0715Z" fill="#2D3D4D" stroke="#2D3D4D" stroke-width="0.3" />
                </svg>

                <div class="adjustContentMobile logoText">
                    @Localizer["compName"]
                </div>


            </div>

            <div class="col-5 adjustContentMobile">
                <ul style="list-style:none" class="zeroPaddingMobile footer-display">
                    <li class="mb-3 div1">
                        <span><img src="~/public/images/call.svg" />&nbsp;&nbsp;</span>
                        026327277
                        <br />
                    </li>
                    <li class="div2">
                        <span><img src="~/public/images/mail.svg" />&nbsp;&nbsp;</span>
                        
                        <a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=info@alketbitravel.ae">@Localizer["mail"]</a>
                        
                        
                    </li>
                                        
                    <li class="div3">
                        <span><img src="~/public/images/terms.svg" />&nbsp;&nbsp;</span>
                        
                        <a asp-action="PrivacyPolicy" onclick="toggleSecPadding('tos')">@Localizer["Terms of Servicess"]</a>
                    </li>
                    <li class="div4">
                        <span><img src="~/public/images/adrs.svg" />&nbsp;</span>
                        <a target="_blank" href=" https://maps.google.com/?q=Abu Dhabi, Al Bateen w-10, Al Faskar Street, Al Khalidiya Tower, Minzaanin Floor">
                                @Localizer["adddress"]
                        </a>
                        </li>
                </ul>

            </div>
        </div>

        <div class="row hideOnPc" style="justify-content:center;align-items:center">
            <div class="col-2 zeroPaddingMobile adjustContentMobile">
                @*<img src="~/public/images/footerLogo.png"/>*@

                <svg xmlns="http://www.w3.org/2000/svg" width="206" height="140" viewBox="0 0 206 140" fill="none">
                    <path d="M147.596 51.7178C151.629 50.5214 153.888 49.4731 157.926 46.7654C162.861 42.1479 165.103 39.3729 169.239 37.0509L171.207 36.0987C174.391 34.978 176.137 35.262 179.241 36.0987C181.41 37.0889 182.57 37.7706 184.488 39.3368H194.654C201.851 43.1639 203.112 47.6687 204 56.8607C201.354 54.5686 199.762 53.8502 196.621 54.9559C188.292 59.1812 186.071 62.4496 182.192 68.8608C181.189 79.1214 181.256 84.7383 182.192 94.5751C182.08 97.9193 181.171 99.4415 178.749 101.813" stroke="#2D3D4D" stroke-width="2" />
                    <path d="M196.805 49.2325C199.192 50.3794 200.527 51.0974 202.872 52.8516L203.364 55.3278L201.56 54.1849C199.897 52.5115 198.787 51.9468 196.805 50.9468C194.372 50.0535 193.013 49.9836 190.575 50.5659C187.208 51.7958 185.402 52.7439 182.376 55.1373C181.928 55.3841 181.677 55.5197 181.229 55.1373C180.94 54.6981 180.855 54.4299 181.229 53.804C184.751 51.4155 186.816 50.3914 190.575 48.8516C193.01 48.504 194.373 48.449 196.805 49.2325Z" fill="#2D3D4D" stroke="#2D3D4D" stroke-width="0.5" />
                    <path d="M175 107.903L114.333 10.3785L114.331 10.4167C114.276 11.5172 114.245 12.1459 114.988 13.6166L168.769 111.522C169.841 114.706 169.918 116.607 168.769 120.284C167.287 123.387 165.984 124.864 163.358 127.331C165.893 126.999 167.305 126.727 169.753 125.617C172.388 123.509 173.763 122.252 175 119.141C176.343 115.577 176.465 113.368 175 107.903Z" fill="#2D3D4D" />
                    <path d="M163.358 109.426L110.889 9.99756C110.293 10.6331 110.271 11.164 110.561 12.2833L154.176 104.474C154.804 106.591 154.977 107.641 154.176 108.664C153.206 109.168 152.625 109.106 151.553 108.664L142.535 89.2358C140.341 84.5949 139.034 83.4959 136.632 82.9501H109.414C108.711 82.9291 108.325 82.8488 107.774 81.8072C107.494 80.5459 107.689 79.9072 108.594 78.9501C112.049 74.3128 113.779 71.4936 114.988 63.331C115.737 52.0986 116.25 45.5775 113.185 33.9976C110.166 23.5959 107.654 18.3809 101.051 9.99756C103.845 49.4127 97.5934 65.952 74.4889 86.9501C71.5641 88.255 69.9075 88.3805 66.9465 88.2834C66.4702 88.804 66.393 89.0962 66.9465 89.6168L133.844 89.2358C134.779 89.3551 135.861 89.7464 136.632 91.9025L144.338 107.903C145.584 110.126 145.617 110.951 144.338 111.522H105.478C105.195 111.376 105.066 111.27 104.987 110.95L104.659 102.76H97.6081V110.95C97.4766 112.68 96.9593 113.153 95.6405 113.426C94.0886 113.173 93.7619 112.463 93.6729 110.379V97.9977C93.2597 95.7608 92.8436 94.6963 90.3936 94.5692H69.57C66.7043 94.522 65.8386 96.5953 65.1429 102.76L64.651 109.236H74.9808C76.0366 110.2 75.7473 110.681 74.9808 111.522H57.2725C54.2842 109.768 53.4956 108.348 54.8131 104.474L94.4927 16.4738L93.8369 12.6642L45.9589 109.045C45.1036 111.591 45.0645 112.98 45.9589 115.331C47.4456 117.844 48.5143 118.825 51.2058 119.141H81.8674C83.9533 118.331 84.8167 117.42 85.1467 113.998V105.236C84.695 103.78 84.3081 103.101 82.8512 102.76H74.9808C74.3825 102.558 74.072 102.401 73.997 101.236C73.9333 99.9195 74.2178 99.5195 74.9808 99.3311H84.4908C87.4167 100.253 88.2279 101.537 88.9179 104.474V113.045C88.8456 115.554 88.3578 116.594 86.4584 117.807C85.4958 119.026 85.9529 119.237 87.7701 119.141H162.211C164.331 118.538 165.172 117.799 165.162 114.76C164.933 112.654 164.46 111.483 163.358 109.426Z" fill="#2D3D4D" />
                    <path d="M175 107.903L114.333 10.3785L114.331 10.4167C114.276 11.5172 114.245 12.1459 114.988 13.6166L168.769 111.522C169.841 114.706 169.918 116.607 168.769 120.284C167.287 123.387 165.984 124.864 163.358 127.331C165.893 126.999 167.305 126.727 169.753 125.617C172.388 123.509 173.763 122.252 175 119.141C176.343 115.577 176.465 113.368 175 107.903Z" stroke="#2D3D4D" stroke-width="0.3" />
                    <path d="M163.358 109.426L110.889 9.99756C110.293 10.6331 110.271 11.164 110.561 12.2833L154.176 104.474C154.804 106.591 154.977 107.641 154.176 108.664C153.206 109.168 152.625 109.106 151.553 108.664L142.535 89.2358C140.341 84.5949 139.034 83.4959 136.632 82.9501H109.414C108.711 82.9291 108.325 82.8488 107.774 81.8072C107.494 80.5459 107.689 79.9072 108.594 78.9501C112.049 74.3128 113.779 71.4936 114.988 63.331C115.737 52.0986 116.25 45.5775 113.185 33.9976C110.166 23.5959 107.654 18.3809 101.051 9.99756C103.845 49.4127 97.5934 65.952 74.4889 86.9501C71.5641 88.255 69.9075 88.3805 66.9465 88.2834C66.4702 88.804 66.393 89.0962 66.9465 89.6168L133.844 89.2358C134.779 89.3551 135.861 89.7464 136.632 91.9025L144.338 107.903C145.584 110.126 145.617 110.951 144.338 111.522H105.478C105.195 111.376 105.066 111.27 104.987 110.95L104.659 102.76H97.6081V110.95C97.4766 112.68 96.9593 113.153 95.6405 113.426C94.0886 113.173 93.7619 112.463 93.6729 110.379V97.9977C93.2597 95.7608 92.8436 94.6963 90.3936 94.5692H69.57C66.7043 94.522 65.8386 96.5953 65.1429 102.76L64.651 109.236H74.9808C76.0366 110.2 75.7473 110.681 74.9808 111.522H57.2725C54.2842 109.768 53.4956 108.348 54.8131 104.474L94.4927 16.4738L93.8369 12.6642L45.9589 109.045C45.1036 111.591 45.0645 112.98 45.9589 115.331C47.4456 117.844 48.5143 118.825 51.2058 119.141H81.8674C83.9533 118.331 84.8167 117.42 85.1467 113.998V105.236C84.695 103.78 84.3081 103.101 82.8512 102.76H74.9808C74.3825 102.558 74.072 102.401 73.997 101.236C73.9333 99.9195 74.2178 99.5195 74.9808 99.3311H84.4908C87.4167 100.253 88.2279 101.537 88.9179 104.474V113.045C88.8456 115.554 88.3578 116.594 86.4584 117.807C85.4958 119.026 85.9529 119.237 87.7701 119.141H162.211C164.331 118.538 165.172 117.799 165.162 114.76C164.933 112.654 164.46 111.483 163.358 109.426Z" stroke="#2D3D4D" stroke-width="0.3" />
                    <ellipse cx="97.6632" cy="96.2885" rx="3.11534" ry="3.61904" fill="#2D3D4D" />
                    <ellipse cx="64.5089" cy="126.769" rx="3.11534" ry="3.61904" fill="#2D3D4D" />
                    <ellipse cx="72.0538" cy="126.769" rx="3.11534" ry="3.61904" fill="#2D3D4D" />
                    <ellipse cx="85.2013" cy="126.769" rx="3.11534" ry="3.61904" fill="#2D3D4D" />
                    <ellipse cx="105.209" cy="96.2885" rx="3.11534" ry="3.61904" fill="#2D3D4D" />
                    <path d="M40.9878 119.987C39.5635 115.488 40.8273 107.026 42.0447 102.794C44.5046 97.9351 89.3817 12.5975 92.3318 8.46598C95.611 5.12513 97.7028 3.74618 102.069 2.39407C104.783 1.82003 106.343 1.91961 109.151 2.39407C113.268 3.73698 115.317 5.18301 118.712 8.46598C122.566 12.6143 124.202 15.2183 126.856 20.0026L179.44 103.997C181.722 109.518 182.5 112.947 181.741 119.987C180.811 125.254 179.531 127.527 176.961 131.321C173.154 135.221 170.69 136.72 165.63 138H61.3483C55.1522 137.239 51.833 136.187 46.6533 131.321C43.0809 127.125 42.0133 124.614 40.9878 119.987Z" stroke="#2D3D4D" stroke-width="3" />
                    <path d="M2 21.4321H84.9665L82.1513 26.7654H4.98083L2 21.4321Z" stroke="#2D3D4D" stroke-width="2" />
                    <path d="M8.57422 32.4722H79.0792L76.6868 37.8055H11.1073L8.57422 32.4722Z" stroke="#2D3D4D" stroke-width="2" />
                    <path d="M16.4629 44.2925H72.7031L70.0027 49.6258H18.454L16.4629 44.2925Z" stroke="#2D3D4D" stroke-width="2" />
                    <path d="M23.3223 55.3325H67.265L64.3136 60.6658H24.878L23.3223 55.3325Z" stroke="#2D3D4D" stroke-width="2" />
                    <path d="M14.46 79.7202H54.4676L51.5162 85.0535H15.8764L14.46 79.7202Z" stroke="#2D3D4D" stroke-width="2" />
                    <path d="M30.8672 66.3813H61.3648L58.4134 71.7147H31.9469L30.8672 66.3813Z" stroke="#2D3D4D" stroke-width="2" />
                    <path d="M20.0068 91.1416H48.2089L45.4796 96.4749H21.0053L20.0068 91.1416Z" stroke="#2D3D4D" stroke-width="2" />
                    <path d="M26.9189 101.815H42.3317L40.8402 107.148H27.4646L26.9189 101.815Z" stroke="#2D3D4D" stroke-width="2" />
                    <path d="M127.475 20.2866H148.462C150.945 20.5036 151.937 21.26 152.889 23.9057C153.36 26.3335 153.236 27.5444 152.233 29.4295L142.232 43.7148" stroke="#2D3D4D" stroke-width="2" />
                    <path d="M131.531 27.5249H142.252C143.521 27.6308 144.027 27.9997 144.514 29.2903C144.754 30.4746 144.691 31.0653 144.179 31.9849L139.069 38.9535" stroke="#2D3D4D" stroke-width="2" />
                    <path d="M180.685 43.0715L182.652 44.2144L183.308 43.6429C183.744 43.3598 184.026 43.322 184.62 43.6429C185.182 44.2487 185.169 44.6927 184.948 45.5477L181.505 51.0715C181.055 51.5923 180.78 51.7206 180.193 51.4525C179.757 50.9268 179.69 50.5998 180.029 49.9287L181.997 46.8811C182.04 45.9387 181.837 45.7487 181.013 46.1191C180.236 47.6977 179.696 48.5513 178.225 49.9287C177.445 50.0769 176.781 50.0695 175.274 49.9287C174.928 49.0869 174.553 48.7209 173.306 48.4049H170.683C170.19 47.9041 169.983 47.6103 170.683 46.8811C172.903 45.1681 174.156 44.2153 177.078 43.0715C178.484 42.6551 179.274 42.671 180.685 43.0715Z" fill="#2D3D4D" stroke="#2D3D4D" stroke-width="0.3" />
                </svg>

                <div class="adjustContentMobile logoText">
                    @Localizer["compName"]
                </div>


            </div>

            <div class="col-7 zeroPaddingMobile adjustContentMobile">
                <ul style="list-style:none" class="zeroPaddingMobile">
                    <li class="mb-3">
                        &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;@Localizer["ci"]
                        <br />
                    </li>
                    <li>
                        <span><img src="~/public/images/env.svg" />&nbsp;&nbsp;</span>
                        
                        <a target="_blank" href="https://mail.google.com/mail/?view=cm&fs=1&to=info@alketbitravel.ae">@Localizer["mail"]</a>
                        
                        
                    </li>
                                        <li>
                    <li>
                        <span><img src="~/public/images/cl.svg" />&nbsp;&nbsp;</span>
                        
                        <a asp-action="PrivacyPolicy" onclick="toggleSecPadding('tos')">@Localizer["Terms of Servicess"]</a>
                    </li>
                    <li>
                        <span><img src="~/public/images/loc.svg" />&nbsp;</span>
                        <a target="_blank" href=" https://maps.google.com/?q=Abu Dhabi, Al Bateen w-10, Al Faskar Street, Al Khalidiya Tower, Minzaanin Floor">
                                @Localizer["adddress"]
                        </a>
                        </li>
                </ul>

            </div>
        </div>



    </div>
    <br />
    <br />
</div>
<div class="myFooter2">

    <p>
        © @DateTime.Now.Year @Localizer["company"]
    </p>
</div>



<div class="chatBotDiv" style="cursor:pointer" onclick="closeChatDiv()">
    <div class="newMsg" style="display:none">&#x1F534;</div>
    <img src="~/public/images/chat.svg"/>
</div>

<partial name="myChatPage" style="display:flex" />


<script>

    

    //function toggleSecPadding(sectionId) {

    //    if(sectionId=="no")
    //    {
    //        var myElement = document.getElementById('1');
    //        myElement.classList.remove('displayItemsActive');
    //        myElement = document.getElementById('2');
    //        myElement.classList.remove('displayItemsActive');
    //        myElement = document.getElementById('3');
    //        myElement.classList.remove('displayItemsActive');
    //        myElement = document.getElementById('4');
    //        myElement.classList.remove('displayItemsActive');

    //        myElement = document.getElementById('1');
    //        myElement.classList.add('displayItemsActive');



    //    }
    //    if (sectionId == "sec3") {
    //                    var myElement = document.getElementById('1');
    //        myElement.classList.remove('displayItemsActive');
    //        myElement = document.getElementById('2');
    //        myElement.classList.remove('displayItemsActive');
    //        myElement = document.getElementById('3');
    //        myElement.classList.remove('displayItemsActive');
    //        myElement = document.getElementById('4');
    //        myElement.classList.remove('displayItemsActive');

    //        myElement = document.getElementById('3');
    //        myElement.classList.add('displayItemsActive');
    //    }
    //    if (sectionId == "sec4") {
    //                    var myElement = document.getElementById('1');
    //        myElement.classList.remove('displayItemsActive');
    //        myElement = document.getElementById('2');
    //        myElement.classList.remove('displayItemsActive');
    //        myElement = document.getElementById('3');
    //        myElement.classList.remove('displayItemsActive');
    //        myElement = document.getElementById('4');
    //        myElement.classList.remove('displayItemsActive');

    //        myElement = document.getElementById('4');
    //        myElement.classList.add('displayItemsActive');
    //    }

    //    var sections = document.querySelectorAll('.thirdDiv, .third1Div, .fifthDiv');

    //    sections.forEach(function (section) {
    //        var sectionIdAttribute = section.querySelector('section').id;
    //        var secPaddingDiv = section.querySelector('.secPadding');

    //        if (sectionIdAttribute === sectionId) {
    //            secPaddingDiv.classList.remove('secPaddinghidden');
    //        } else {
    //            secPaddingDiv.classList.add('secPaddinghidden');
    //        }
    //    });
    //}

    //var sections = document.querySelectorAll('.thirdDiv, .third1Div, .fifthDiv');

    //window.addEventListener('scroll', function () {
    //    sections.forEach(function (section) {
    //        var rect = section.getBoundingClientRect();
    //        var secPaddingDiv = section.querySelector('.secPadding');

    //        if (rect.top >= 0 && rect.bottom <= window.innerHeight) {
    //            secPaddingDiv.classList.remove('secPaddinghidden');
    //        } else {
    //            secPaddingDiv.classList.add('secPaddinghidden');
    //        }
    //    });
    //});
</script>

