



<div class="thirdDiv">
    <section id="sec3">
@*        <div class="secPadding">
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>*@
        <br />
        <br />
    <h1 class="mb-3">
            @Localizer["Partners"]
        
    </h1>
    <ul class="mb-3">
            <li>@Localizer["International Fund for Houbara Conservation (IFHC)"]</li>
            <li>@Localizer["Emirates Falconers' Club (EFC)"]</li>
            <li>@Localizer["UAE Independent Climate Change Accelerators (UICCA)"]</li>
            <li>@Localizer["NAJAHI Events"]</li>
            <li>@Localizer["YAS HOLDING"]</li>
            <li>@Localizer["Mohamed Bin Zayed RaptoR FUNDS"]</li>
            <li>@Localizer["National Search and Rescue Center | UAE"]</li>
            <li>@Localizer["Ministry of Presidential Affairs"]</li>
            <li>@Localizer["Department of the Presidential Affairs"]</li>
    </ul>

    </section>

</div>


<div class="third1Div">

        <section id="sec4">
        <div class="secPadding">
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
        <h1 class="mb-3">
           @Localizer["About Us"]
    </h1>

    <p>
            @Localizer["AboutUsContent"]
            </p>

    <h1 class="mb-3">
            @Localizer["Business Philosophy:"]
    </h1>
    <p>

            @Localizer["BusinessContent"]

    </p>

    </section>
    </div>


