<div class="secondDiv">
    <br /><br />
    <center>
        <p class="secondTitle">
            @Localizer["Why choose us?"]
        </p>
    </center>
    <br /><br /><br />

    <div class="container">
        <div class="row row1">
            <!-- Expertise Since 1994 -->
            <div class="col-md-4 secondSectionElement">
                <div class="imgDiv">
                    <img src="~/public/images/img1.svg" />
                </div>
                <h1>@Localizer["Expertise Since 1994"]</h1>
                <p>@Localizer["Over 29 years creating unforgettable trips."]</p>
            </div>

            <!-- Trusted Guidance -->
            <div class="col-md-4 secondSectionElement">
                <div class="imgDiv">
                    <img src="~/public/images/img2.svg" />
                </div>
                <h1>@Localizer["Trusted Guidance"]</h1>
                <p>@Localizer["Our experienced team makes travel planning easy."]</p>
            </div>

            <!-- Always Available -->
            <div class="col-md-4 secondSectionElement">
                <div class="imgDiv">
                    <img src="~/public/images/img3.svg" />
                </div>
                <h1>@Localizer["Always Available"]</h1>
                <p>@Localizer["Get support anytime during your trip 24/7."]</p>
            </div>
        </div>

        <div class="row row2">
            <!-- Customized for You -->
            <div class="col-md-4 secondSectionElement">
                <div class="imgDiv">
                    <img src="~/public/images/img4.svg" />
                </div>
                <h1>@Localizer["Customized for You"]</h1>
                <p>@Localizer["Personalized travel plans to match your preferences."]</p>
            </div>

            <!-- Exclusive Deals -->
            <div class="col-md-4 secondSectionElement">
                <div class="imgDiv">
                    <img src="~/public/images/img5.svg" />
                </div>
                <h1>@Localizer["Exclusive Deals"]</h1>
                <p>@Localizer["Access special offers and unique experiences."]</p>
            </div>

            <!-- Quality Assured -->
            <div class="col-md-4 secondSectionElement">
                <div class="imgDiv">
                    <img src="~/public/images/img6.svg" />
                </div>
                <h1>@Localizer["Quality Assured"]</h1>
                <p>@Localizer["We ensure top-notch experiences for every traveler."]</p>
            </div>
        </div>
    </div>
</div>
