<style>


</style>

<div class="fifthDiv">
    <section id="tos">
@*        <div class="secPadding">
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>*@
        <br />
        <br />
    <div class="fifthTitle mb-3">
            @Localizer["Terms of Servicess"]

    </div>

    <ul>
        <li>
                <h1>
                    @Localizer["Terms of Service (TOS):"]
                </h1>
            <p>
                    @Localizer["TOSContent"]

<ul>
                    <li>
                            <h2>@Localizer["Service Description:"]</h2><span>
                                @Localizer["srvc1"]
                            </span>
                    </li>
                    <li>
                            <h2>
                                @Localizer["User Responsibilities:"]
                            </h2><span>
                                @Localizer["UUR1"]
                                                   </span>
                    </li>
                                        <li>
                            <h2>@Localizer["Booking Conditions:"]</h2><span>
                                @Localizer["BC1"]
                        </span>
                    </li>
</ul>



            </p>
        </li>
    </ul>

    <div class="hideOnMobile">
    <br />

    </div>

    <ul>
        <li>

                <h1>@Localizer["Privacy Policy"]</h1>
            <p>
                    @Localizer["PPContent"]

                <ul>
                    <li>
                            <h2>@Localizer["Information Collection:"]</h2><span>
                           
                                @Localizer["PP1"]
                               
                        </span>
                    </li>
                    <li>
                            <h2>@Localizer["Use of Information:"]</h2><span>
                            @Localizer["PP2"]
                        </span>
                    </li>
                </ul>



            </p>
        </li>
    </ul>


        <div class="hideOnMobile">
    <br />

    </div>

    <ul>
        <li>
                <h1>@Localizer["Booking and Service Policies"]</h1>
            <p>
                <ul>
                    <li>
                            <h2>@Localizer["Booking Process:"]</h2><span>
                                @Localizer["BP1"]</span>
                    </li>
                    <li>
                            <h2>@Localizer["Service Conditions:"]</h2><span>
                                @Localizer["BP2"]
                        </span>
                    </li>
                </ul>



            </p>
        </li>
    </ul>


        <div class="hideOnMobile">
            <br />

        </div>


    <ul>
        <li>
                <h1>@Localizer["User Conduct and Responsibilities"]</h1>
            <p>
                <ul>
                    <li>
                            <h2>@Localizer["Prohibited Activities:"]</h2><span>
                                @Localizer["UUR1"]
                        </span>
                    </li>
                </ul>
            </p>
        </li>
    </ul>

        <div class="hideOnMobile">
            <br />

        </div>


    <ul>
        <li>
                <h1> @Localizer["ci"]</h1>
            <p>
                    @Localizer["026327277"]
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=info@alketbitravel.ae">@Localizer["mail"]</a>
                
            </p>
        </li>
    </ul>

        <div class="hideOnMobile">
            <br />
        </div>

    <ul>
        <li>
                <h1>@Localizer["Updates to Policies"]</h1>
            <p>
                    @Localizer["UTP"]
            </p>
        </li>
    </ul>

        <div class="hideOnMobile">
            <br />

        </div>

    </section>
</div>


