@inject INavService StyleServiceMain






<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item  @StyleServiceMain.GetStylGetStyleMainNav(new List<string>{"Employees"},new List<string>{"ListOfDoctorSpeciality"},"active","")">
                    <a class="nav-link" href="@Url.Action("ListOfDoctorSpeciality","Employees",new {area="Admin"})">Doctor Sepcialities</a>
                </li>
                <li class="nav-item  @StyleServiceMain.GetStylGetStyleMainNav(new List<string>{"Employees"},new List<string>{"ListOfDoctors","CreateDoctor","EditDoctor"},"active","")" ">
                    <a class="nav-link" href="@Url.Action("ListOfDoctors","Employees",new {area="Admin"})">Doctors</a>
                </li>
                <li class="nav-item  @StyleServiceMain.GetStylGetStyleMainNav(new List<string>{"Employees"},new List<string>{"ListOfEmployees","CreateEmployees","EditEmployees"},"active","")" ">
                    <a class="nav-link" href="@Url.Action("ListOfEmployees","Employees",new {area="Admin"})">Employees</a>
                </li>
            </ul>
        </div>
    </div>
</nav>