@inject INavService navSrvc


<link rel="stylesheet" href="~/public/nav/pubnav.css" />


<nav class="navbar navbar-expand-lg navbar-fixed-top removeBSdefs1">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">&#9776;
                                  
            </span>
            <span class="myFloatInverse paddTop">
                <a href="@Localizer["langUrl"]">
                    <img src="~/public/images/@Localizer["langImage"]" style="width:31px;height:31px" />
                </a>
            </span>

            <div class="myFloat">

            <a class="navbar-brand" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="95" height="56" viewBox="0 0 95 56" fill="none">
                    <path d="M68.1572 20.7409C70.0176 20.2659 71.0597 19.8496 72.9219 18.7745C75.1986 16.9411 76.2325 15.8393 78.1404 14.9173L79.048 14.5392C80.5169 14.0942 81.3222 14.207 82.7539 14.5392C83.7544 14.9323 84.2892 15.203 85.174 15.8249H89.8631C93.183 17.3445 93.7646 19.1332 94.174 22.7829C92.9534 21.8728 92.2194 21.5876 90.7707 22.0266C86.9288 23.7043 85.9041 25.002 84.1152 27.5477C83.6526 31.6217 83.6835 33.852 84.1152 37.7578C84.0636 39.0856 83.6443 39.69 82.527 40.6317" stroke="#2D3D4D" />
                    <path d="M90.8555 19.7541C91.9563 20.2095 92.5721 20.4946 93.6538 21.1911L93.8807 22.1743L93.0487 21.7205C92.2815 21.0561 91.7696 20.8318 90.8555 20.4348C89.7328 20.08 89.106 20.0523 87.9815 20.2835C86.4286 20.7719 85.5956 21.1483 84.2 22.0986C83.9932 22.1966 83.8774 22.2505 83.6706 22.0986C83.5376 21.9243 83.4984 21.8178 83.6706 21.5692C85.2953 20.6208 86.2478 20.2142 87.9815 19.6028C89.1049 19.4648 89.7336 19.443 90.8555 19.7541Z" fill="#2D3D4D" stroke="#2D3D4D" stroke-width="0.5" />
                    <path d="M80.7974 43.0496L52.8142 4.3268L52.8133 4.34195C52.7882 4.77893 52.7739 5.02856 53.1167 5.61251L77.9234 44.4865C78.4181 45.7511 78.4536 46.5058 77.9234 47.9655C77.2398 49.1979 76.6387 49.7842 75.4276 50.7639C76.5967 50.6319 77.2481 50.5239 78.3772 50.0832C79.5925 49.2462 80.227 48.7473 80.7974 47.5118C81.417 46.0969 81.4732 45.2197 80.7974 43.0496Z" fill="#2D3D4D" />
                    <path d="M75.4276 43.6546L51.2259 4.17554C50.9508 4.4279 50.9409 4.63867 51.0747 5.0831L71.1923 41.6882C71.482 42.5288 71.5616 42.9459 71.1923 43.3521C70.7449 43.5519 70.4768 43.5274 69.9823 43.3521L65.8226 35.6378C64.8107 33.7951 64.2081 33.3587 63.0999 33.142H50.5452C50.2211 33.1337 50.0432 33.1017 49.7889 32.6882C49.6596 32.1874 49.7498 31.9338 50.1671 31.5537C51.7609 29.7125 52.5589 28.5931 53.1167 25.3521C53.462 20.8921 53.6988 18.3029 52.2847 13.705C50.8923 9.5749 49.7334 7.50421 46.6881 4.17554C47.9765 19.8257 45.0931 26.3927 34.436 34.7302C33.0869 35.2484 32.3227 35.2982 30.957 35.2596C30.7373 35.4663 30.7017 35.5824 30.957 35.789L61.8142 35.6378C62.2454 35.6852 62.7441 35.8405 63.0999 36.6966L66.6545 43.0496C67.229 43.9326 67.2444 44.2599 66.6545 44.4865H48.7301C48.5994 44.4287 48.5397 44.3868 48.5032 44.2597L48.352 41.0075H45.0999V44.2597C45.0392 44.9465 44.8006 45.1341 44.1923 45.2429C43.4765 45.1424 43.3258 44.8604 43.2847 44.0328V39.1168C43.0941 38.2286 42.9022 37.8059 41.7721 37.7554H32.1671C30.8453 37.7367 30.4459 38.56 30.1251 41.0075L29.8982 43.579H34.6629C35.1499 43.9618 35.0164 44.1529 34.6629 44.4865H26.4948C25.1164 43.7904 24.7527 43.2266 25.3603 41.6882L43.6629 6.74697L43.3604 5.23436L21.2763 43.5033C20.8818 44.5141 20.8637 45.0658 21.2763 45.9992C21.962 46.9968 22.455 47.3864 23.6965 47.5118H37.8393C38.8015 47.1902 39.1998 46.8285 39.352 45.4697V41.9907C39.1436 41.4127 38.9651 41.1431 38.2931 41.0075H34.6629C34.3869 40.9275 34.2437 40.8652 34.2091 40.4025C34.1797 39.8798 34.3109 39.721 34.6629 39.6462H39.0494C40.399 40.0122 40.7732 40.5223 41.0915 41.6882V45.0916C41.0581 46.0877 40.8331 46.5007 39.957 46.9823C39.513 47.4661 39.7238 47.5501 40.562 47.5118H74.8982C75.8762 47.2724 76.264 46.9791 76.2596 45.7723C76.1539 44.9361 75.9357 44.4712 75.4276 43.6546Z" fill="#2D3D4D" />
                    <path d="M80.7974 43.0496L52.8142 4.3268L52.8133 4.34195C52.7882 4.77893 52.7739 5.02856 53.1167 5.61251L77.9234 44.4865C78.4181 45.7511 78.4536 46.5058 77.9234 47.9655C77.2398 49.1979 76.6387 49.7842 75.4276 50.7639C76.5967 50.6319 77.2481 50.5239 78.3772 50.0832C79.5925 49.2462 80.227 48.7473 80.7974 47.5118C81.417 46.0969 81.4732 45.2197 80.7974 43.0496Z" stroke="#2D3D4D" stroke-width="0.3" />
                    <path d="M75.4276 43.6546L51.2259 4.17554C50.9508 4.4279 50.9409 4.63867 51.0747 5.0831L71.1923 41.6882C71.482 42.5288 71.5616 42.9459 71.1923 43.3521C70.7449 43.5519 70.4768 43.5274 69.9823 43.3521L65.8226 35.6378C64.8107 33.7951 64.2081 33.3587 63.0999 33.142H50.5452C50.2211 33.1337 50.0432 33.1017 49.7889 32.6882C49.6596 32.1874 49.7498 31.9338 50.1671 31.5537C51.7609 29.7125 52.5589 28.5931 53.1167 25.3521C53.462 20.8921 53.6988 18.3029 52.2847 13.705C50.8923 9.5749 49.7334 7.50421 46.6881 4.17554C47.9765 19.8257 45.0931 26.3927 34.436 34.7302C33.0869 35.2484 32.3227 35.2982 30.957 35.2596C30.7373 35.4663 30.7017 35.5824 30.957 35.789L61.8142 35.6378C62.2454 35.6852 62.7441 35.8405 63.0999 36.6966L66.6545 43.0496C67.229 43.9326 67.2444 44.2599 66.6545 44.4865H48.7301C48.5994 44.4287 48.5397 44.3868 48.5032 44.2597L48.352 41.0075H45.0999V44.2597C45.0392 44.9465 44.8006 45.1341 44.1923 45.2429C43.4765 45.1424 43.3258 44.8604 43.2847 44.0328V39.1168C43.0941 38.2286 42.9022 37.8059 41.7721 37.7554H32.1671C30.8453 37.7367 30.4459 38.56 30.1251 41.0075L29.8982 43.579H34.6629C35.1499 43.9618 35.0164 44.1529 34.6629 44.4865H26.4948C25.1164 43.7904 24.7527 43.2266 25.3603 41.6882L43.6629 6.74697L43.3604 5.23436L21.2763 43.5033C20.8818 44.5141 20.8637 45.0658 21.2763 45.9992C21.962 46.9968 22.455 47.3864 23.6965 47.5118H37.8393C38.8015 47.1902 39.1998 46.8285 39.352 45.4697V41.9907C39.1436 41.4127 38.9651 41.1431 38.2931 41.0075H34.6629C34.3869 40.9275 34.2437 40.8652 34.2091 40.4025C34.1797 39.8798 34.3109 39.721 34.6629 39.6462H39.0494C40.399 40.0122 40.7732 40.5223 41.0915 41.6882V45.0916C41.0581 46.0877 40.8331 46.5007 39.957 46.9823C39.513 47.4661 39.7238 47.5501 40.562 47.5118H74.8982C75.8762 47.2724 76.264 46.9791 76.2596 45.7723C76.1539 44.9361 75.9357 44.4712 75.4276 43.6546Z" stroke="#2D3D4D" stroke-width="0.3" />
                    <ellipse cx="45.1257" cy="38.4381" rx="1.43697" ry="1.43697" fill="#2D3D4D" />
                    <ellipse cx="29.8327" cy="50.5406" rx="1.43697" ry="1.43697" fill="#2D3D4D" />
                    <ellipse cx="33.3132" cy="50.5406" rx="1.43697" ry="1.43697" fill="#2D3D4D" />
                    <ellipse cx="39.3776" cy="50.5406" rx="1.43697" ry="1.43697" fill="#2D3D4D" />
                    <ellipse cx="48.6062" cy="38.4381" rx="1.43697" ry="1.43697" fill="#2D3D4D" />
                    <path d="M18.9836 47.8477C18.3266 46.0615 18.9096 42.7013 19.4711 41.021C20.6057 39.0919 41.3056 5.20784 42.6664 3.56737C44.179 2.24086 45.1438 1.69334 47.158 1.15647C48.4098 0.92854 49.1292 0.968081 50.4246 1.15647C52.3236 1.68968 53.2686 2.26384 54.8345 3.56737C56.6119 5.2145 57.3669 6.24845 58.5911 8.14809L82.8456 41.4989C83.8985 43.6909 84.2572 45.0524 83.9072 47.8477C83.478 49.939 82.8878 50.8416 81.7023 52.348C79.9461 53.8967 78.8097 54.4917 76.4757 55H28.3751C25.517 54.6977 23.986 54.2801 21.5969 52.348C19.9491 50.6819 19.4566 49.6849 18.9836 47.8477Z" stroke="#2D3D4D" />
                    <path d="M1 8.7157H39.2689L37.9704 10.8333H2.37493L1 8.7157Z" stroke="#2D3D4D" />
                    <path d="M4.03223 13.0992H36.5532L35.4497 15.2169H5.20064L4.03223 13.0992Z" stroke="#2D3D4D" />
                    <path d="M7.6709 17.7926H33.6121L32.3665 19.9102H8.58933L7.6709 17.7926Z" stroke="#2D3D4D" />
                    <path d="M10.835 22.1761H31.1039L29.7425 24.2938H11.5526L10.835 22.1761Z" stroke="#2D3D4D" />
                    <path d="M6.74707 31.8595H25.2009L23.8396 33.9771H7.40042L6.74707 31.8595Z" stroke="#2D3D4D" />
                    <path d="M14.3154 26.5632H28.3827L27.0213 28.6809H14.8135L14.3154 26.5632Z" stroke="#2D3D4D" />
                    <path d="M9.30566 36.3945H22.3141L21.0552 38.5122H9.76622L9.30566 36.3945Z" stroke="#2D3D4D" />
                    <path d="M12.4941 40.6323H19.6034L18.9154 42.75H12.7458L12.4941 40.6323Z" stroke="#2D3D4D" />
                    <path d="M58.876 8.26086H68.5567C69.7019 8.34703 70.1595 8.64735 70.5987 9.69784C70.8158 10.6618 70.7586 11.1426 70.2962 11.8911L65.6827 17.5632" stroke="#2D3D4D" />
                    <path d="M60.7471 11.1349H65.6922C66.2772 11.1769 66.511 11.3234 66.7353 11.8359C66.8462 12.3061 66.817 12.5406 66.5808 12.9058L64.2241 15.6727" stroke="#2D3D4D" />
                    <path d="M83.4199 17.3078L84.3274 17.7616L84.63 17.5347C84.8311 17.4223 84.9609 17.4073 85.235 17.5347C85.4943 17.7752 85.4882 17.9515 85.3863 18.291L83.798 20.4843C83.5907 20.6911 83.4638 20.742 83.193 20.6355C82.9917 20.4268 82.9611 20.297 83.1173 20.0305L84.0249 18.8204C84.045 18.4463 83.9513 18.3708 83.5711 18.5179C83.2129 19.1447 82.9638 19.4836 82.2854 20.0305C81.9257 20.0894 81.619 20.0864 80.9241 20.0305C80.7645 19.6963 80.5914 19.5509 80.0165 19.4255H78.8064C78.5793 19.2266 78.4835 19.11 78.8064 18.8204C79.8303 18.1403 80.4085 17.762 81.756 17.3078C82.4049 17.1425 82.7692 17.1488 83.4199 17.3078Z" fill="#2D3D4D" stroke="#2D3D4D" stroke-width="0.3" />
                </svg>
                <div style="color: #2D3D4D;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100px;
    margin-top: 6px;">
                    @Localizer["compName"]
                </div>
            </a>
            
        
        </div>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="95" height="56" viewBox="0 0 95 56" fill="none">
                    <path d="M68.1572 20.7409C70.0176 20.2659 71.0597 19.8496 72.9219 18.7745C75.1986 16.9411 76.2325 15.8393 78.1404 14.9173L79.048 14.5392C80.5169 14.0942 81.3222 14.207 82.7539 14.5392C83.7544 14.9323 84.2892 15.203 85.174 15.8249H89.8631C93.183 17.3445 93.7646 19.1332 94.174 22.7829C92.9534 21.8728 92.2194 21.5876 90.7707 22.0266C86.9288 23.7043 85.9041 25.002 84.1152 27.5477C83.6526 31.6217 83.6835 33.852 84.1152 37.7578C84.0636 39.0856 83.6443 39.69 82.527 40.6317" stroke="#2D3D4D" />
                    <path d="M90.8555 19.7541C91.9563 20.2095 92.5721 20.4946 93.6538 21.1911L93.8807 22.1743L93.0487 21.7205C92.2815 21.0561 91.7696 20.8318 90.8555 20.4348C89.7328 20.08 89.106 20.0523 87.9815 20.2835C86.4286 20.7719 85.5956 21.1483 84.2 22.0986C83.9932 22.1966 83.8774 22.2505 83.6706 22.0986C83.5376 21.9243 83.4984 21.8178 83.6706 21.5692C85.2953 20.6208 86.2478 20.2142 87.9815 19.6028C89.1049 19.4648 89.7336 19.443 90.8555 19.7541Z" fill="#2D3D4D" stroke="#2D3D4D" stroke-width="0.5" />
                    <path d="M80.7974 43.0496L52.8142 4.3268L52.8133 4.34195C52.7882 4.77893 52.7739 5.02856 53.1167 5.61251L77.9234 44.4865C78.4181 45.7511 78.4536 46.5058 77.9234 47.9655C77.2398 49.1979 76.6387 49.7842 75.4276 50.7639C76.5967 50.6319 77.2481 50.5239 78.3772 50.0832C79.5925 49.2462 80.227 48.7473 80.7974 47.5118C81.417 46.0969 81.4732 45.2197 80.7974 43.0496Z" fill="#2D3D4D" />
                    <path d="M75.4276 43.6546L51.2259 4.17554C50.9508 4.4279 50.9409 4.63867 51.0747 5.0831L71.1923 41.6882C71.482 42.5288 71.5616 42.9459 71.1923 43.3521C70.7449 43.5519 70.4768 43.5274 69.9823 43.3521L65.8226 35.6378C64.8107 33.7951 64.2081 33.3587 63.0999 33.142H50.5452C50.2211 33.1337 50.0432 33.1017 49.7889 32.6882C49.6596 32.1874 49.7498 31.9338 50.1671 31.5537C51.7609 29.7125 52.5589 28.5931 53.1167 25.3521C53.462 20.8921 53.6988 18.3029 52.2847 13.705C50.8923 9.5749 49.7334 7.50421 46.6881 4.17554C47.9765 19.8257 45.0931 26.3927 34.436 34.7302C33.0869 35.2484 32.3227 35.2982 30.957 35.2596C30.7373 35.4663 30.7017 35.5824 30.957 35.789L61.8142 35.6378C62.2454 35.6852 62.7441 35.8405 63.0999 36.6966L66.6545 43.0496C67.229 43.9326 67.2444 44.2599 66.6545 44.4865H48.7301C48.5994 44.4287 48.5397 44.3868 48.5032 44.2597L48.352 41.0075H45.0999V44.2597C45.0392 44.9465 44.8006 45.1341 44.1923 45.2429C43.4765 45.1424 43.3258 44.8604 43.2847 44.0328V39.1168C43.0941 38.2286 42.9022 37.8059 41.7721 37.7554H32.1671C30.8453 37.7367 30.4459 38.56 30.1251 41.0075L29.8982 43.579H34.6629C35.1499 43.9618 35.0164 44.1529 34.6629 44.4865H26.4948C25.1164 43.7904 24.7527 43.2266 25.3603 41.6882L43.6629 6.74697L43.3604 5.23436L21.2763 43.5033C20.8818 44.5141 20.8637 45.0658 21.2763 45.9992C21.962 46.9968 22.455 47.3864 23.6965 47.5118H37.8393C38.8015 47.1902 39.1998 46.8285 39.352 45.4697V41.9907C39.1436 41.4127 38.9651 41.1431 38.2931 41.0075H34.6629C34.3869 40.9275 34.2437 40.8652 34.2091 40.4025C34.1797 39.8798 34.3109 39.721 34.6629 39.6462H39.0494C40.399 40.0122 40.7732 40.5223 41.0915 41.6882V45.0916C41.0581 46.0877 40.8331 46.5007 39.957 46.9823C39.513 47.4661 39.7238 47.5501 40.562 47.5118H74.8982C75.8762 47.2724 76.264 46.9791 76.2596 45.7723C76.1539 44.9361 75.9357 44.4712 75.4276 43.6546Z" fill="#2D3D4D" />
                    <path d="M80.7974 43.0496L52.8142 4.3268L52.8133 4.34195C52.7882 4.77893 52.7739 5.02856 53.1167 5.61251L77.9234 44.4865C78.4181 45.7511 78.4536 46.5058 77.9234 47.9655C77.2398 49.1979 76.6387 49.7842 75.4276 50.7639C76.5967 50.6319 77.2481 50.5239 78.3772 50.0832C79.5925 49.2462 80.227 48.7473 80.7974 47.5118C81.417 46.0969 81.4732 45.2197 80.7974 43.0496Z" stroke="#2D3D4D" stroke-width="0.3" />
                    <path d="M75.4276 43.6546L51.2259 4.17554C50.9508 4.4279 50.9409 4.63867 51.0747 5.0831L71.1923 41.6882C71.482 42.5288 71.5616 42.9459 71.1923 43.3521C70.7449 43.5519 70.4768 43.5274 69.9823 43.3521L65.8226 35.6378C64.8107 33.7951 64.2081 33.3587 63.0999 33.142H50.5452C50.2211 33.1337 50.0432 33.1017 49.7889 32.6882C49.6596 32.1874 49.7498 31.9338 50.1671 31.5537C51.7609 29.7125 52.5589 28.5931 53.1167 25.3521C53.462 20.8921 53.6988 18.3029 52.2847 13.705C50.8923 9.5749 49.7334 7.50421 46.6881 4.17554C47.9765 19.8257 45.0931 26.3927 34.436 34.7302C33.0869 35.2484 32.3227 35.2982 30.957 35.2596C30.7373 35.4663 30.7017 35.5824 30.957 35.789L61.8142 35.6378C62.2454 35.6852 62.7441 35.8405 63.0999 36.6966L66.6545 43.0496C67.229 43.9326 67.2444 44.2599 66.6545 44.4865H48.7301C48.5994 44.4287 48.5397 44.3868 48.5032 44.2597L48.352 41.0075H45.0999V44.2597C45.0392 44.9465 44.8006 45.1341 44.1923 45.2429C43.4765 45.1424 43.3258 44.8604 43.2847 44.0328V39.1168C43.0941 38.2286 42.9022 37.8059 41.7721 37.7554H32.1671C30.8453 37.7367 30.4459 38.56 30.1251 41.0075L29.8982 43.579H34.6629C35.1499 43.9618 35.0164 44.1529 34.6629 44.4865H26.4948C25.1164 43.7904 24.7527 43.2266 25.3603 41.6882L43.6629 6.74697L43.3604 5.23436L21.2763 43.5033C20.8818 44.5141 20.8637 45.0658 21.2763 45.9992C21.962 46.9968 22.455 47.3864 23.6965 47.5118H37.8393C38.8015 47.1902 39.1998 46.8285 39.352 45.4697V41.9907C39.1436 41.4127 38.9651 41.1431 38.2931 41.0075H34.6629C34.3869 40.9275 34.2437 40.8652 34.2091 40.4025C34.1797 39.8798 34.3109 39.721 34.6629 39.6462H39.0494C40.399 40.0122 40.7732 40.5223 41.0915 41.6882V45.0916C41.0581 46.0877 40.8331 46.5007 39.957 46.9823C39.513 47.4661 39.7238 47.5501 40.562 47.5118H74.8982C75.8762 47.2724 76.264 46.9791 76.2596 45.7723C76.1539 44.9361 75.9357 44.4712 75.4276 43.6546Z" stroke="#2D3D4D" stroke-width="0.3" />
                    <ellipse cx="45.1257" cy="38.4381" rx="1.43697" ry="1.43697" fill="#2D3D4D" />
                    <ellipse cx="29.8327" cy="50.5406" rx="1.43697" ry="1.43697" fill="#2D3D4D" />
                    <ellipse cx="33.3132" cy="50.5406" rx="1.43697" ry="1.43697" fill="#2D3D4D" />
                    <ellipse cx="39.3776" cy="50.5406" rx="1.43697" ry="1.43697" fill="#2D3D4D" />
                    <ellipse cx="48.6062" cy="38.4381" rx="1.43697" ry="1.43697" fill="#2D3D4D" />
                    <path d="M18.9836 47.8477C18.3266 46.0615 18.9096 42.7013 19.4711 41.021C20.6057 39.0919 41.3056 5.20784 42.6664 3.56737C44.179 2.24086 45.1438 1.69334 47.158 1.15647C48.4098 0.92854 49.1292 0.968081 50.4246 1.15647C52.3236 1.68968 53.2686 2.26384 54.8345 3.56737C56.6119 5.2145 57.3669 6.24845 58.5911 8.14809L82.8456 41.4989C83.8985 43.6909 84.2572 45.0524 83.9072 47.8477C83.478 49.939 82.8878 50.8416 81.7023 52.348C79.9461 53.8967 78.8097 54.4917 76.4757 55H28.3751C25.517 54.6977 23.986 54.2801 21.5969 52.348C19.9491 50.6819 19.4566 49.6849 18.9836 47.8477Z" stroke="#2D3D4D" />
                    <path d="M1 8.7157H39.2689L37.9704 10.8333H2.37493L1 8.7157Z" stroke="#2D3D4D" />
                    <path d="M4.03223 13.0992H36.5532L35.4497 15.2169H5.20064L4.03223 13.0992Z" stroke="#2D3D4D" />
                    <path d="M7.6709 17.7926H33.6121L32.3665 19.9102H8.58933L7.6709 17.7926Z" stroke="#2D3D4D" />
                    <path d="M10.835 22.1761H31.1039L29.7425 24.2938H11.5526L10.835 22.1761Z" stroke="#2D3D4D" />
                    <path d="M6.74707 31.8595H25.2009L23.8396 33.9771H7.40042L6.74707 31.8595Z" stroke="#2D3D4D" />
                    <path d="M14.3154 26.5632H28.3827L27.0213 28.6809H14.8135L14.3154 26.5632Z" stroke="#2D3D4D" />
                    <path d="M9.30566 36.3945H22.3141L21.0552 38.5122H9.76622L9.30566 36.3945Z" stroke="#2D3D4D" />
                    <path d="M12.4941 40.6323H19.6034L18.9154 42.75H12.7458L12.4941 40.6323Z" stroke="#2D3D4D" />
                    <path d="M58.876 8.26086H68.5567C69.7019 8.34703 70.1595 8.64735 70.5987 9.69784C70.8158 10.6618 70.7586 11.1426 70.2962 11.8911L65.6827 17.5632" stroke="#2D3D4D" />
                    <path d="M60.7471 11.1349H65.6922C66.2772 11.1769 66.511 11.3234 66.7353 11.8359C66.8462 12.3061 66.817 12.5406 66.5808 12.9058L64.2241 15.6727" stroke="#2D3D4D" />
                    <path d="M83.4199 17.3078L84.3274 17.7616L84.63 17.5347C84.8311 17.4223 84.9609 17.4073 85.235 17.5347C85.4943 17.7752 85.4882 17.9515 85.3863 18.291L83.798 20.4843C83.5907 20.6911 83.4638 20.742 83.193 20.6355C82.9917 20.4268 82.9611 20.297 83.1173 20.0305L84.0249 18.8204C84.045 18.4463 83.9513 18.3708 83.5711 18.5179C83.2129 19.1447 82.9638 19.4836 82.2854 20.0305C81.9257 20.0894 81.619 20.0864 80.9241 20.0305C80.7645 19.6963 80.5914 19.5509 80.0165 19.4255H78.8064C78.5793 19.2266 78.4835 19.11 78.8064 18.8204C79.8303 18.1403 80.4085 17.762 81.756 17.3078C82.4049 17.1425 82.7692 17.1488 83.4199 17.3078Z" fill="#2D3D4D" stroke="#2D3D4D" stroke-width="0.3" />
                </svg>
                <div style="color: #2D3D4D;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100px;
    margin-top: 6px;">
                    @Localizer["compName"]
                </div>
      </a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 displayItems">
                <li class="nav-item @navSrvc.GetStylGetStyleMainNav(new List<string>{"Home"},new List<string>{"Index"},"displayItemsActive","")" id="1">
                    <a class="nav-link" asp-action="Index" onclick="toggleSecPadding('no')">@Localizer["Home"]</a>
        </li>
                <li class="nav-item @navSrvc.GetStylGetStyleMainNav(new List<string>{"Home"},new List<string>{"OurServices"},"displayItemsActive","")">
                    <a class="nav-link" id="2" asp-action="OurServices">@Localizer["Services"]</a>
        </li>

                <li class="nav-item @navSrvc.GetStylGetStyleMainNav(new List<string>{"Home"},new List<string>{"Partners"},"displayItemsActive","")" id="3">
                    <a class="nav-link" asp-action="Partners" onclick="toggleSecPadding('sec3')">@Localizer["Partners"]</a>
                </li>

                <li class="nav-item @navSrvc.GetStylGetStyleMainNav(new List<string>{"Home"},new List<string>{"AboutUs"},"displayItemsActive","")" id="4">
                    <a class="nav-link" asp-action="AboutUs" onclick="toggleSecPadding('sec4')">@Localizer["About Us"]</a>
                </li>

                <li class="nav-item hideOnMobile" style="cursor:pointer">
                    <a href="@Localizer["langUrl"]">
                        <img src="~/public/images/@Localizer["langImage"]"  style="width:31px;height:31px"/>
                    </a>
                    
                    

                </li>
      </ul>
    </div>
  </div>
</nav>


